In [41]:
import pandas as pd
import pickle
import requests
import urllib.parse
import random
import time
from datetime import datetime
import numpy as np

In [2]:
f = open("token_TMDB.txt","r")
token = f.read()
headers = {"accept": "application/json", "Authorization": f"Bearer {token}"}

In [3]:
def url_title_tmdb(row, col):
    urls = []
    if pd.isnull(row[col]):
        title = row['originalTitle']
        # Percent encode the title
        title_encoded = urllib.parse.quote(title, safe='')
        url = f"https://api.themoviedb.org/3/search/movie?query={title_encoded}&include_adult=false&language=en-US&page=1"
        urls.append(url)
    return urls

In [4]:
movies = pd.read_csv('movies.csv')

In [19]:
movies

,tconst,averageRating,numVotes,directors,writers,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0000009,5.3,208.0,nm0085156,nm0085156,Miss Jerry,Miss Jerry,0.0,1894,45,{'Romance'}
1,tt0000574,6.0,872.0,nm0846879,nm0846879,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906,70,"{'Action', 'Biography', 'Adventure'}"
2,tt0000591,5.5,23.0,nm0141150,nm0141150,The Prodigal Son,L'enfant prodigue,0.0,1907,90,{'Drama'}
3,tt0000679,5.0,70.0,"nm0091767,nm0877783","nm0000875,nm0877783",The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0.0,1908,120,"{'Fantasy', 'Adventure'}"
4,tt0000941,4.5,27.0,"nm0063413,nm0550220","nm0063413,nm0550220,nm0848502",Locura de amor,Locura de amor,0.0,1909,45,{'Drama'}
...,...,...,...,...,...,...,...,...,...,...,...
248371,tt9883948,8.4,7.0,nm2426615,nm2426615,Geometria del Esplendor,Geometria del Esplendor,0.0,2016,90,{'Documentary'}
248372,tt9884024,6.2,10.0,nm10524771,nm10036519,Chubby Café,Chubby Café,0.0,2019,80,"{'Drama', 'Comedy', 'Crime'}"
248373,tt9887160,6.6,5.0,nm3901090,nm3901090,The Film,The Film,0.0,2012,57,{'Drama'}
248374,tt9896768,4.0,132.0,nm5619726,nm5619726,The Immortal Wars: Rebirth,The Immortal Wars: Rebirth,0.0,2021,84,{'Sci-Fi'}
248375,tt9915592,5.6,8.0,nm1033328,nm8514564,A Husband to Rent,Shohar-e kerayei,0.0,1974,100,{'Comedy'}

In [26]:
movies = movies[movies['runtimeMinutes'] > 45]
movies = movies[movies['numVotes'] > 50]
movies = movies[movies['startYear'] > 1900]

Empty DataFrame
Columns: [tconst, averageRating, numVotes, directors, writers, primaryTitle, originalTitle, isAdult, startYear, runtimeMinutes, genres, director_name]
Index: []

In [35]:
movies

,tconst,averageRating,numVotes,directors,writers,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
1,tt0000574,6.0,872.0,nm0846879,nm0846879,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906,70,"{'Action', 'Biography', 'Adventure'}"
3,tt0000679,5.0,70.0,"nm0091767,nm0877783","nm0000875,nm0877783",The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0.0,1908,120,"{'Fantasy', 'Adventure'}"
6,tt0001285,5.4,60.0,nm0085865,"nm0676645,nm0836316",The Life of Moses,The Life of Moses,0.0,1909,50,"{'Drama', 'Biography', 'Family'}"
9,tt0001790,6.0,52.0,nm0135052,"nm0135053,nm0401076","Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0.0,1913,60,{'Drama'}
11,tt0001892,5.8,264.0,nm0300487,"nm0300487,nm2131092",Den sorte drøm,Den sorte drøm,0.0,1911,53,{'Drama'}
...,...,...,...,...,...,...,...,...,...,...,...
248351,tt9624438,4.8,136.0,nm5756213,nm5756213,Bazaar,Bazaar,0.0,2019,147,"{'Action', 'Crime'}"
248359,tt9724056,5.2,270.0,nm9909259,nm1802130,Penguin League 2,Penguin League 2,0.0,2019,75,{'Animation'}
248363,tt9753314,6.6,593.0,nm7240066,nm7240066,The Shepherd's Supper,The Shepherd's Supper,0.0,2023,120,{'Drama'}
248365,tt9774740,7.1,69.0,nm1261206,"nm3174077,nm1261206",Chasing Whiskey,Chasing Whiskey,0.0,2021,95,{'Documentary'}
248374,tt9896768,4.0,132.0,nm5619726,nm5619726,The Immortal Wars: Rebirth,The Immortal Wars: Rebirth,0.0,2021,84,{'Sci-Fi'}

In [36]:
people = people[people['nconst'].isin(movies['directors']) | people['nconst'].isin(movies['writers'])]

In [42]:
def get_name_from_id(person_id, people_df):
    if isinstance(person_id, str):
        person_id = person_id.strip()  # Strip whitespace if it's a string
    if ',' in person_id:
        # Split multiple IDs by comma, strip each ID, and fetch names
        return [get_name_from_id(id.strip(), people_df) for id in person_id.split(',')]
    else:
        person = people_df[people_df['nconst'] == person_id]
        if not person.empty:
            return person.iloc[0]['primaryName']
        else:
            return None

In [46]:
movies

,tconst,averageRating,numVotes,directors,writers,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,director_name
1,tt0000574,6.0,872.0,nm0846879,nm0846879,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906,70,"{'Action', 'Biography', 'Adventure'}",Charles Tait
3,tt0000679,5.0,70.0,"nm0091767,nm0877783","nm0000875,nm0877783",The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0.0,1908,120,"{'Fantasy', 'Adventure'}","[None, None]"
6,tt0001285,5.4,60.0,nm0085865,"nm0676645,nm0836316",The Life of Moses,The Life of Moses,0.0,1909,50,"{'Drama', 'Biography', 'Family'}",J. Stuart Blackton
9,tt0001790,6.0,52.0,nm0135052,"nm0135053,nm0401076","Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0.0,1913,60,{'Drama'},Albert Capellani
11,tt0001892,5.8,264.0,nm0300487,"nm0300487,nm2131092",Den sorte drøm,Den sorte drøm,0.0,1911,53,{'Drama'},Urban Gad
...,...,...,...,...,...,...,...,...,...,...,...,...
248351,tt9624438,4.8,136.0,nm5756213,nm5756213,Bazaar,Bazaar,0.0,2019,147,"{'Action', 'Crime'}",Suni
248359,tt9724056,5.2,270.0,nm9909259,nm1802130,Penguin League 2,Penguin League 2,0.0,2019,75,{'Animation'},James Snider
248363,tt9753314,6.6,593.0,nm7240066,nm7240066,The Shepherd's Supper,The Shepherd's Supper,0.0,2023,120,{'Drama'},None
248365,tt9774740,7.1,69.0,nm1261206,"nm3174077,nm1261206",Chasing Whiskey,Chasing Whiskey,0.0,2021,95,{'Documentary'},Greg Olliver
248374,tt9896768,4.0,132.0,nm5619726,nm5619726,The Immortal Wars: Rebirth,The Immortal Wars: Rebirth,0.0,2021,84,{'Sci-Fi'},Joe Lujan